/* section ul, section ol {
	margin-left: 2.5%;
}

section ul ul, section ol ol, section ol ul {
	margin-left: 5%;
} */

body, .tab {
	font-family: Corbel;
	font-size: 1rem;
}

a {
	color: #6ba6b8;
	
}

a:hover {
	color: #7ec5da;
}

h3 {
	margin: 20px 0;
	border-bottom: 2px solid;
}

img {
	max-width: 900px;
}

.container {
	padding: 50px 100px;
}

.container img {
	display: block;
	margin: auto;
}

#toc {
	margin: auto;
	display: block;
	max-width: 300px;
}

.tab {
	tab-size: 4;
}

.tableauPlaceholder {
	margin-bottom: 30px;
	display: block;
}

#logos img {
	max-width: 300px;
	max-height: 80px;
}